params {
	
	version {
        lipmutils		= '1.0'
    }
		
	containers_base      = "https://lipm-browsers.toulouse.inra.fr/pub/singularity-repository/"
}



process {
    withName:'E2P2V4_.*' {
        container = params.containers_base +  "/e2p2v4.sif"
    } 
    withName:'E2P2V3_.*' {
        container = params.containers_base +  "/e2p2v3.sif"
    } 
    withName:'LIPMUTILS_.*' {
        container = params.containers_base +  "/lipmutils-"+ params.version.lipmutils + ".sif"
    }
}

