singularity.enabled = true
singularity.autoMounts = true

params {
	max_cpus = 12
	max_memory = 128.GB
  	max_time = 96.h

}

env {
  TMPDIR = '/mnt/beegfs/tmp/'
  SINGULARITY_BIND = '/mnt/beegfs/tmp/'
}

process {
	cache: 'lenient'
	executor = 'sge'
	queue = 'work.q'
	penv = 'parallel'
	clusterOptions = ' -S /bin/bash'
	max_memory = 128.GB
}

executor {
    name='sge'
    queueSize=1000
}
